@import "./styles/example.scss";
@import "./styles/buttons.scss";
@import "./styles/reset.css";

#main {
    color: $color;
    // background-color: black;

}
html, body {
    // background-color: rgb(24, 23, 22);
    background-color: #8DA399;
    // background-image: url('https://images.alphacoders.com/530/530505.jpg');
    // background-image: url('https://images6.alphacoders.com/590/590933.jpg');
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    font-size: 60px;
    height: 60px;
    padding: 30px 5px;
    color: white;
    // background-image: url('https://images2.alphacoders.com/605/605933.jpg');
    // background-image: url('https://static.amazon.jobs/teams/53/images/IMDb_Header_Page.jpg?1501027252');
    // background-size: cover;
    text-shadow: 2px 2px 5px black; 
}

#header-gif {
    display: none;
}
.genreBtns {
    width: 200px;
    position: absolute;
}


.genres {
    display: block;
    // float: left;
    // flex: 30%;
    font-size: 30px;
    padding: 10px 5px;
    color: white;
    border-top-left-radius: 15px;
    position: fixed;
    top: 110px;
    left: 100px;
    width: 200px;

}

svg {
    // margin-left: 500px;
    position: relative;
}
.container {
    display: flex;
    // flex: 70%;
    // flex-wrap: wrap;
    margin-left: 350px;
}

#chartContainer {
    display: block ;
    margin-left: 350px;
}


.btn {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(11, 74, 46);
    // background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    width: 180px;
}

.x-axis-label, .y-axis-label {
    font-size: 45px;
    font-weight: bold;
  }
