@import "./styles/example.scss";
@import "./styles/buttons.scss";
@import "./styles/reset.css";

#main {
    color: $color;
    // background-color: black;

}
html, body {
    // background-color: rgb(24, 23, 22);
    // background-color: #8DA399;
    background-color: rgb(27, 26, 26);
    // background-image: url('https://images.alphacoders.com/530/530505.jpg');
    // background-image: url('https://images6.alphacoders.com/590/590933.jpg');
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 60px;
    padding: 30px 5px;
    color: white;
    // background-image: url('https://images2.alphacoders.com/605/605933.jpg');
    // background-image: url('https://static.amazon.jobs/teams/53/images/IMDb_Header_Page.jpg?1501027252');
    // background-size: cover;
    text-shadow: 2px 2px 5px black; 
}

#header-gif {
    display: none;
}




svg {
    // margin-left: 500px;
    position: relative;
}
// .container {
//     display: flex;
//     // flex: 70%;
//     // flex-wrap: wrap;
//     margin-left: 350px;
// }
// .genreBtns {
//     width: 200px;
//     position: absolute;
// }

// .genres {
//     display: block;
//     // float: left;
//     // flex: 30%;
//     font-size: 30px;
//     padding: 10px 5px;
//     color: white;
//     border-top-left-radius: 15px;
//     position: fixed;
//     top: 110px;
//     left: 100px;
//     width: 200px;

// }
// #chartContainer {
//     display: block ;
//     margin-left: 350px;
// }
#container {
    display: flex;
    height: 100vh;
  }
  
.genreBtns {
    width: 200px;
    // background-color: #8DA399;
    background-color: rgb(27, 26, 26);
    margin-left: 100px;
    margin-top: 50px;
    color: #fff;
    padding: 10px;
}
  
.genres {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
  
#chartContainer {
    flex: 1;
    // background-color: #8DA399;
    background-color: rgb(27, 26, 26);
}
  

.btn {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    // background-color: rgb(11, 74, 46);
    background-color: rgb(78, 77, 77);
    // background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    width: 200px;
}
.btn:hover {
    background-color: orange;
}
.btn:focus {
    background-color: orange;
}
.x-axis-label, .y-axis-label {
    font-size: 45px;
    font-weight: bold;
}



.genreBtns > ul > li {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

g:hover {
    background-color: orange;
}

#myGithub {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 90px;
    height: 90px
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    margin-top: 200px;
    border-radius: 8px;
  }
  

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content .modal-details li {
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 10px;
    // background-color: rgb(11, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
    // color: white;
  }


  