@import "./styles/example.scss";
@import "./styles/buttons.scss";
#main {
    color: $color;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25 px;
    padding: 100px 5px;
    color: blue;
    background-image: url('https://Joshk57.github.io/JavascriptProject/background1.gif');
    opacity: 0.95;
    background-size: cover;
    text-shadow: 2px 2px 5px blue; 
}

#header-gif {
    display: none;
}